body {
  background-color: #D1E7DD;
  color: #1B4332;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

a {
  font-weight: 500;
  color: #1B4332;
  text-decoration: inherit;
}

a:hover {
  color: #081c15;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
  margin: 0;
  text-align: center;
}

h2 {
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #D1E7DD;
  margin-top: 10px;
}

button:hover {
  border-color: #081c15;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.topbar {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a7c9a7;
  color: #1B4332;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.leftbox {
  cursor: pointer;
  font-weight: bold;
}

.rightbox {
  background-color: #1B4332;
  color: #D1E7DD;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.rightbox:hover {
  background-color: #081c15;
}

.hero-info {
  background-color: #fff;
  color: #1B4332;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 800px;
  width: 100%;
}

.hero-info img {
  max-width: 100%;
  height: auto;
  margin: 15px 0;
  border-radius: 8px;
}

.hero {
  text-align: center;
  background-color: #fff;
  color: #1B4332;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
}

.highlight {
  color: #081c15;
  font-weight: bold;
}

.input-group {
  margin: 10px 0;
  padding: 10px;
}

.input-group input {
  padding: 8px;
  border: 1px solid #081c15;
  border-radius: 4px;
  width: calc(100% - 20px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.error {
  color: red;
  font-size: 0.8em;
  margin-top: 5px;
}

.soil-inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.soil-inputs .input-group {
  flex: 1;
  min-width: 150px;
  margin: 5px;
}

footer {
  width: 100%;
  background-color: #a7c9a7;
  color: #1B4332;
  padding: 20px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-section {
  margin: 10px;
  flex: 1;
  min-width: 250px;
}

.footer-section.contact p {
  margin-bottom: 5px;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #1B4332;
}

.history-section {
  background-color: #fff;
  color: #1B4332;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 800px;
  width: 100%;
}
.history-section ul {
  list-style: none;
  padding: 0;
}

.history-section li {
  margin-bottom: 10px;
  border-bottom: 1px solid #1B4332;
  padding-bottom: 5px;
}