.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header {
    background-color: #8eb50b;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    font-size: 24px;
    width: 50%;
    margin: 0 auto;
}

.login_form {
    margin: 50px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.submit {
    display: flex;
    gap: 30px;
}

.login_form input,
.signup_form input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.signup_form {
    margin: 50px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}