.signup-page {
  background-color: #D1E7DD;
  color: #1B4332;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.form {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

.signup_form {
  display: flex;
  flex-direction: column;
}

.signup_form h3 {
  text-align: center;
  margin-bottom: 20px;
}

.signup_form label {
  margin-top: 10px;
  margin-bottom: 5px;
}

.signup_form input[type="text"],
.signup_form input[type="email"],
.signup_form input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 16px;
}

.signup_form button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.signup_form button[type="button"] {
  background-color: #f0f0f0;
  color: #1B4332;
  margin-bottom: 20px;
}
.submit{
    display: flex;
    justify-content: space-between;
}
.signup_form .btn-primary {
  background-color: #1B4332;
  color: white;
}
.signup_form .btn-secondary {
    background-color: #cccccc;
    color: #1B4332;
}
.signup_form .btn{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}